.animation-text{

  font-size:25px;

}
.loading span {
  display: inline-block;
  vertical-align: middle;
  width: .6em;
  height: .6em;
  margin: .19em;
  background: #007DB6;
  border-radius: .6em;
  animation: loading 1s infinite alternate;
}


.loading span:nth-of-type(2) {
  background: #008FB2;
  animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
  background: #009B9E;
  animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
  background: #00A77D;
  animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
  background: #8F4380;
  animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
  background: #FFCC33;
  animation-delay: 1.0s;
}
.loading span:nth-of-type(7) {
  background: #F69E4E;
  animation-delay: 1.2s;
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    

  .animation-text{

    font-size:15px;
  
  }
    
  
}
