.sada-container{
    padding:5px;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 40px;
}



.q-set{
    padding: 25px;
}

.q-sl, .q{
    font-size: 35px;
    font-weight: bold;
}
.options{
    padding: 5px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    
    
    .q-sl, .q{
        font-size: 20px;
        font-weight: bold;
    }
    
    .options{
        font-size: 12px;
        
    }
    
}

